.header{
    margin-top: 60px;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}

.headerTitleSM{
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitleLG{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImage{
    width: 100%;
    Height:450 px;
    margin-top: 80px;
    object-fit: cover;
}
